.app.dark {
  --bg-color: #1d408b;
  --inverted-bg-color: #5cdb95;

  --primary-color: #c7cfd6;
  --secondary-color: #2c7969;
  --inverted-primary-color: #05386b;
  --inverted-secondary-color: #0004f8;
}
